[Unit]
Description="Get today's NOTAMs"
After=network.target

[Service]
User=ukair
Group=www-data
WorkingDirectory=/home/ahs/src/navplot2
ExecStart=/home/ahs/src/navplot2/today.sh venv /var/ukair/media/notam

